/* Estilos para el encabezado */
header {
    background-color: #66CCCC; /* Un tono de azul verdoso suave */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
    color: #66CCCC; /* Mismo color suave para el texto de navegación */
}

/* Estilos para el área principal */
main {
    padding: 40px;
    background-color: #F0F0F0; /* Un gris claro para una sensación de calma */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para el pie de página */
footer {
    background-color: #66CCCC;
    color: #fff;
    text-align: center;
    padding: 20px;
    clear: both;
}
